{% extends "trash/base.html" %}
{% block title %}
    HMR - About Us
{% endblock %}

{% block content %}
    <div style="margin-top:80px; padding-bottom:100px;">
        <div class="container-fluid">
            <div class="row row-content">
                <div class="col-xs-12 col-sm-9 col-sm-offset-2 col-md-8 col-md-offset-2">
                    <h2>Who are we?</h2>
                    <p>We are a team of 5 people who work together on the project to help people in recycling.</p>
                    <h3>Project members:</h3>
                    <strong>Project manager:</strong> Anisa GJINI (anisa.gjini@abo.fi)<br>
                    <strong>Project owner:</strong> Candice PERSIL (candice.persil@abo.fi)<br>
                    <strong>UI design, Front-End development:</strong> Ekaterina PETUKHOVA (ekaterina.petukhova@abo.fi)<br>
                    <strong>Back-End development:</strong> Andi DOMI (andi.domi@abo.fi), Cuong TRAN (huy.tran@abo.fi)
                    <p>Visit us on Facebook: <a target="_blank" href="https://www.facebook.com/HelpMeRecycle/"> Help Me Recycle </a></p>
                </div>
            </div>
            <div class="row row-content">
                <div class="col-xs-12 col-sm-9 col-sm-offset-2 col-md-8 col-md-offset-2">
                    <h2>About HMR</h2>
                    <p>HelpMeRecycle is a web application that helps people to recycle. If you don't know where
                        to throw your trash our application lets you scan the product bar-code or search it by title
                        and then displays the right trash bin and its location
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}