{% extends "trash/base.html" %}
{% block title %}
    HMR - Bin
{% endblock %}
{% load static %}
{% block content %}
    <div style="margin-top:110px; padding-bottom:100px;">
        <div class="container-fluid">
            <div class="row row-content">
                <div class="col-xs-12 col-sm-6 col-sm-offset-3">

                    {% for i in items %}

                        <div class="media">
                            <a class="media-left" href="#">
                                <img class="media-object crop-img" src="{% static 'trash/images/notebook.png' %}" alt="Notebook">
                            </a>
                            <div class="media-body">
                                <div class="media-heading">
                                    <h3>
                                        {{ i.name | capfirst | truncatechars:16 }}
                                        <div style="float:right;">
                                            <span class="label {{ i.bin.name }}" style="margin-right:10px;">{{ i.bin.name | capfirst }}</span>
                                            <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                                            <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                                        </div>
                                    </h3>
                                </div>
                                <p style="margin-top: 40px">{{ i.description | capfirst | truncatechars:150 }}</p>
                            </div>
                        </div>

                    {% empty %}
                        <span>No item available.</span>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
{% endblock %}