{% extends "trash/base.html" %}
{% block title %}
    HMR - Bin
{% endblock %}
{% load static %}
{% block content %}
    <div style="margin-top:110px; padding-bottom:100px;">
        <div class="container-fluid">
            <div class="row row-content">
                <div class="col-xs-4 col-sm-4 col-sm-offset-2 col-md-4 col-lg-2 col-lg-offset-3">
                    <a href="{% url 'show_binitems' bin.name %}"><!--<div class="round bin_center" id="Paper">
                        <div class="bin_title"><h3>Paper</h3></div>
                    </div>-->
                    <div class="trash_bin"><img src="{% static bin.avatar_name %}"><h3>{{ bin.name | capfirst }}</h3></div></a>
                </div>
                <div class="col-xs-8 col-sm-4 col-md-4 col-lg-4">
                    <p>
                        <strong>General color in Finland:</strong> {{ bin.color | capfirst }} <br>
                        <strong>Where bin generally found:</strong> {{ bin.common_location | capfirst }} <br>
                        <strong>State of items:</strong> {{ bin.state_of_items | capfirst }} <br>
                        <strong>Items included: </strong> {{ bin.description | capfirst }}<br>
                        <strong>Items not included: </strong> {{ bin.not_included | capfirst }} <br>
                    </p>
                </div>
            </div>
            <div class="row row-content">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">

                    <a href="{% url 'openmap' %}">
                        <button type="button" class="btn btn-success btn-lg">Bins map</button>
                    </a>

                    {% for i in items %}

                        <div class="media">
                            <a class="media-left" href="#">
                                <img class="media-object crop-img" src="{% static 'trash/images/' %}{{ i.bin.name }}.png" alt="{{ i.bin.name }}">
                            </a>
                            <div class="media-body">
                                <div class="media-heading">
                                    <h3>
                                        {{ i.name | capfirst | truncatechars:16 }}
                                        <div style="float:right;">
                                            <span class="label {{ i.bin.name }}" style="margin-right:10px;">{{ i.bin.name | capfirst }}</span>
                                            <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                                            <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                                        </div>
                                    </h3>
                                </div>
                                <p style="margin-top: 40px">{{ i.description | capfirst | truncatechars:150 }}</p>
                            </div>
                        </div>

                    {% empty %}
                        <span>No item available.</span>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
{% endblock %}