{% extends "trash/base.html" %}
{% block title %}
    HMR - Trash bin
{% endblock %}

{% block content %}
    <div style="margin-top:120px; padding-bottom:100px;">
        <div class="container-fluid">
            <div class="row row-content">
                <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2 col-lg-offset-3">
                    <a href="{% url 'show_binitems' 'paper' %}"><div class="round" id="Paper">
                        <div class="bin_title"><h3>Paper</h3></div>
                    </div></a>
                </div>

                <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2">
                    <div class="round" id="Metal">
                        <a href="{% url 'show_binitems' 'metal' %}"><div class="bin_title"><h3>Metal</h3></div></a>
                    </div>
                </div>

                <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2">
                    <div class="round" id="Glass">
                        <a href="{% url 'show_binitems' 'glass' %}"><div class="bin_title"><h3>Glass</h3></div></a>
                    </div>
                </div>

                <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2  col-lg-offset-2">
                    <div class="round" id="Burnable">
                        <a href="{% url 'show_binitems' 'burnable' %}"><div class="bin_title"><h3>Burnable</h3></div></a>
                    </div>
                </div>

                <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2">
                    <div class="round" id="Carton">
                        <a href="{% url 'show_binitems' 'carton' %}"><div class="bin_title"><h3>Carton</h3></div></a>
                    </div>
                </div>

                <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2">
                    <div class="round" id="Bio">
                        <a href="{% url 'show_binitems' 'bio' %}"><div class="bin_title"><h3>Bio</h3></div></a>
                    </div>
                </div>

                <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2">
                    <div class="round" id="Electronics">
                        <a href="{% url 'show_binitems' 'electronics' %}"><div class="bin_title"><h3>Electronics</h3></div></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}