{% extends "trash/base.html" %}
{% block title %}
    HMR - Search
{% endblock %}
{% load static %}
{% block content %}
    <div style="margin-top:110px; padding-bottom:100px;">
    <div class="container-fluid">
        <div class="row row-content">
            <div class="parent" id="parent_searchresult">
                <div class=" child col-xs-12 col-sm-7 col-md-7 col-lg-5">
                    <div class="form-group has-feedback search_input">
                            <form class="navbar-form" role="search" method="get" action="{% url 'search' %}">
                                <div class="input-group" style="width:100%;">
                                    <input type="search" class="form-control" id="criteria" name="criteria" placeholder="Search for item" style="display:inline-block;" value="{{ criteria }}">
                                    <div class="input-group-btn">
                                        <button class="btn btn-success" type="submit">
                                            <i class="fa fa-search" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                </div>
            </div>
        </div>
        <div class="row row-content">
            <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                <h4>Results:</h4>
                {% for i in items %}

                    <div class="media">
                        <form class="itemMediaForm" id="form{{ i.id }}" role="form" method="POST">
                            {% csrf_token %}
                            <a class="media-left">
                                <img class="media-object crop-img" src="{% static 'trash/images/' %}{{ i.bin.name }}.png" alt="{{ i.bin.name }}">
                            </a>
                            <div class="media-body">
                                <div class="media-heading">
                                    <h3>
                                        {{ i.name | capfirst | truncatechars:16 }}
                                        <div style="float:right;">
                                            <span class="label {{ i.bin.name }}" style="margin-right:10px;">{{ i.bin.name | capfirst }}</span>
                                            <span class="rating">{{ i.total_rating }}</span>
                                            {% if user.is_authenticated %}
                                                {% if i.voted == "yes" %}
                                                    <a class="glyphicon glyphicon-thumbs-up rateButton" href="javascript:$('#form{{ i.id }}').submit()"></a>
                                                {% else %}
                                                    <a class="glyphicon glyphicon-thumbs-up rateButton voteThumb" href="javascript:$('#form{{ i.id }}').submit()"></a>
                                                {% endif %}
                                            {% else %}
                                                <a class="glyphicon glyphicon-thumbs-up rateButton voteThumb"></a>
                                            {% endif %}
                                            <input type="hidden" name="item_id" value="{{ i.id }}">
                                            <input type="hidden" name="bin_name" value="{{ i.bin.name }}">
                                        </div>
                                    </h3>
                                </div>
                                <p style="margin-top: 40px">{{ i.description | capfirst | truncatechars:150 }}</p>
                            </div>
                        </form>
                    </div>

                {% empty %}
                    <span>No item matches the criteria.</span>
                {% endfor %}
             </div>
        </div>
    </div>
</div>
{% endblock %}
